.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    animation-duration: 300ms;
  }
  
  .modalDialog {
    width: 350px;
    height: 175px;
    padding: 25px;
    background: white;
    position: relative;
    margin: 0 20px;
    max-height: calc(100vh - 40px);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
  }
  
  .modalHeader {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modalButtonDelete {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    padding: 19px 50px;
    background-color: var(--red);
    color: var(--white);
    margin-bottom: 10px;
  }

  .modalButtonCancel {
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    color: var(--black);
    text-decoration: underline;
  }

  .modalClose {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
  }

  .modalBody {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }
  
  .modalTitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 17px;
    margin-bottom: 25px;
  }
  
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slide-in {
    from {
      transform: translateY(-150px);
    }
    to {
      transform: translateY(0);
    }
  }