.header {
  background-color: inherit;
  box-shadow: 0px 10px 63px var(--shadow);
}

.header_nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_title {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  padding-left: 13px;
  color: var(--red);
}

.statistics {
  display: flex;
  align-items: center;
  color: var(--red);
  fill: var(--red);
}

.statistics:hover {
  color: var(--red-hard);
}

.statistics:hover svg path {
  fill: var(--red-hard);
}

.statisticsTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  padding-left: 9px;
}

.theme {
  display: flex;
  color: var(--black);
}

.switcher {
  position: relative;
  margin: 0 10px;
  width: 50px; 
  height: 25px;
  border-radius: 25px;
  background: var(--white3);
  outline: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

.switcher::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: calc((100% - 4px) / 2);
  height: calc(100% - 4px);
  border-radius: 50%;
  background: var(--red);
  transition: all .1s linear;
}

.switcher:checked {
  background: var(--red-light);
}

.switcher:checked::after {
  transform: translateX(100%);
}
