.cardStop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 405px;
    height: 179px;
    padding: 25px;
    background-color: var(--white1);
}

.cardStopActive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 405px;
    height: 179px;
    padding: 25px;
    background-color: #C5F1FF;
}

.cardStop_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--black);
    margin-bottom: 20px;
}

.cardStop_percent {
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    color: var(--black);
}